numpy==1.26.4
torch==2.0.0
torchvision==0.15.1
transformers==4.35.2
safetensors
einops
onnxruntime-gpu
spaces==0.19.4
omegaconf
peft==0.8.2
opencv-python
insightface
gradio
controlnet_aux
gdown
huggingface_hub==0.20.3
diffusers==0.24.0
accelerate==0.21.0







