torch==2.0.0
torchvision==0.15.1
transformers==4.37.1
safetensors
einops
onnxruntime-gpu
spaces==0.19.4
omegaconf
peft
opencv-python
insightface
gradio
controlnet_aux
gdown
peft
huggingface_hub==0.20.3
diffusers==0.24.0
accelerate==0.27.2
